*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1168px;
    margin: auto;
}
.d_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    padding: 24px 0;
    background: #181818;
}
header a{
    display: inline-block;
}
.nav_list{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav_list li{
    margin-right: 32px;
}
.nav_list li:first-of-type{
    margin-right: 56px;
}
.nav_list li:last-of-type a{
    padding: 9px 20px 13px;
    background: #FFFFFF;
    border-radius: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
}
.nav_list li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.aperture_studio{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../images/aperture_img.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
    padding-bottom: 41px;
}
.content_holder{
    max-width: 580px;
    padding-bottom: 30px;
}
.aperture_studio .content_holder h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.aperture_studio .content_holder h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}
.aperture_studio .content_holder p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}
.parameters{
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
    list-style: none;
}
.parameters li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-right: 16px;
    display: flex;
    align-items: flex-start;
}
.parameters li:first-of-type::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/exposure.svg);
    background-size: cover;
    margin-right: 6px;
}
.parameters li:nth-child(2)::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/focus.svg);
    background-size: cover;
    margin-right: 6px;
}
.parameters li:nth-child(3)::before{
    content: '';
    display: inline-block;
    width: 32px;
    height: 16px;
    background-image: url(../images/iso.svg);
    background-size: cover;
    margin-right: 7px;
}
.parameters li:last-of-type::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 16px;
    background-image: url(../images/Fill-1.svg);
    background-size: cover;
    margin-right: 5px;
}

.what_we_do{
    padding: 112px 0 100px;
    background: #000000;
}
.what_we_do h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.what_we_do .d_flex{
    flex-wrap: wrap;
}
.area_card{
    max-width: 576px;
    position: relative;
    margin-bottom: 16px;
}
.area_card img{
    width: 100%;
}
.area_card .description{
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex-wrap: wrap;
}
.area_card .description h4{
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.area_card .description p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 16px;
}
.area_card .description a{
    background: #FFFFFF;
    border-radius: 14px;
    padding: 5px 10px 5px 4px;
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
}
.area_card .description a::before{
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #000000;
    margin-right: 6px;
}

.sunset{
    min-height: 600px;
    padding: 0 40px 40px 0;
    background-image: url(../images/sunset.jpg);
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}
.sunset .description{
    width: 298px;
    margin-right: 22px;
}
.sunset .parameters{
    position: absolute;
    right: 40px;
    bottom: 40px;
}
.sunset .description h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sunset .description p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.monstera{
    min-height: 600px;
    padding: 0 40px 40px 0;
    background-image: url(../images/mostera.jpg);
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}
.monstera .description{
    width: 273px;
    margin-right: 47px;
}
.monstera .parameters{
    position: absolute;
    right: 40px;
    bottom: 40px;
}
.monstera .description h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.monstera .description p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}